body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #1e1c28;  /* Fundo escuro */
  color: #e0e0e0;           /* Texto claro */
}
.block {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 10px;
}
.block > div {
  margin-bottom: 8px;
}
.number {
  font-weight: bold;
  margin-right: 5px;
}
.rotulo input {
  width: 70%;
  padding: 3px;
}
.original-phrase input {
  width: 95%;
  padding: 3px;
}
.substituicoes {
  margin-left: 20px;
  border-left: 2px solid #aaa;
  padding-left: 10px;
}
.substituicao {
  margin-bottom: 10px;
}
.summary-line, .phrase-line, .conclusion-line, .type-line {
  margin-bottom: 5px;
}
.summary-line span {
  font-weight: bold;
  margin-right: 5px;
}
.summary-line input,
.phrase-line input,
.conclusion-line input {
  width: 90%;
  padding: 3px;
}
/* Estilo para os botões de download */
#download-buttons {
  margin-top: 20px;
}
button.download-btn {
  background-color: lightblue;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
}
.conclusion-container {
  border: 1px solid #333;
  padding: 10px;
  margin-top: 20px;
}
.conclusion-container h2 {
  margin-top: 0;
}
.conclusion-input {
  width: 90%;
  padding: 5px;
  font-size: 16px;
}
input[type="text"] {
  background-color: #afadad; /* cinza claro */
  color: #000;
  border: 1px solid #ccc;
  padding: 3px;
}
.linha-mais{
  background-color: rgb(37, 83, 126);
  color: rgb(19, 216, 220);
  border-radius: 30%;
}
.button-remove{
  background-color: #36181c;
}